<mat-toolbar color="primary">
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>admin_panel_settings</mat-icon>
    </a>
    <span>Website Administration portal</span>
    <span class="example-spacer"></span>
    <a 
    *ngIf = "!isLoggedIn" 
    [routerLink] = "'/login'" 
    mat-icon-button class="example-icon favorite-icon ml20 mr20" 
    aria-label="Example icon-button with heart icon">
      Login
    </a>

    <a 
    *ngIf = "!isLoggedIn" 
    [routerLink] = "'/signup'" 
    mat-icon-button class="example-icon mr20" 
    aria-label="Example icon-button with share icon">
      Register
    </a>

    <a 
     *ngIf = "isLoggedIn && user"
     (click) = "openProfile()" 
     mat-icon-button class="example-icon mr50 ml20 " 
     style="margin-right: 50px;"
     aria-label="Example icon-button with share icon">
      {{ loginService.getUser().username }}
    </a>

    <a (click) = "logout()" 
    *ngIf = "isLoggedIn" 
    mat-icon-button class="example-icon mr20 ml50 " 
    aria-label="Example icon-button with share icon">
      Logout
    </a>
  </mat-toolbar>
