.profile-image {
    max-width: 150px;
    max-height: 200px;
    border: 2px solid black;
    border-radius: 70%;

}

.table{
    width: 100%;
    border-collapse: collapse;
}

.table tr td{
    padding: 10px 20px;
    border: 1px solid wheat;
}