<mat-card *ngIf = "user">
    <h1>User Details</h1>
    <!-- {{user | json}} -->
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img src="../../../../assets/stylist.png" alt="no image displayed" class="profile-image">
                    <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Username</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{user.enabled? "Active" : "Inactive"}}</td>
                            </tr>
                            <tr>
                                <td>Email Id</td>
                                <td>{{user.emailId}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.role}}</td>
                            </tr>
                            <tr>
                                <td>Belong to Group</td>
                                <td>{{userGroup.groupName}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>