<mat-card>
    <h1>All Users</h1>
    <mat-list>
        <mat-list-item *ngFor = "let u of user" >
            <mat-icon mat-list-icon>snowshoeing</mat-icon>
            <div mat-line>{{u.firstName}} {{u.lastName}}</div>
            <div mat-line>{{u.role}}</div>
            <div>
                <mat-card-actions>
                    <button [routerLink] = "'/admin/find-user/' + u.userId" mat-raised-button color="info">View</button>
                    <button [routerLink] = "'/admin/update-user/' + u.userId" mat-raised-button color="primary">Update</button>
                    <button (click) = "deleteUser(u.userId)" mat-raised-button color="warn" >Delete</button>
                </mat-card-actions>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        
        <mat-divider></mat-divider>
    </mat-list>

    <div class="container text-center mt20">
        <button (click) = "openPage()" mat-raised-button color="primary">Add User</button>
    </div>
</mat-card>