<div class = "bootstrap-wrapper">
    <div class = "container">
        <div class = "row" style="margin-top: 20px;">
            <div class = "col-md-6 offset-md-3">
            <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/logo.jpg" alt="Image not loaded">
                </div>
                <h1 class="text-center">Login here !!</h1>

                <!-- {{loginData | json}} -->
                <form (ngSubmit) = "formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input [(ngModel)]=loginData.username name = "username" matInput required placeholder="type here">
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Password</mat-label>
                        <input [(ngModel)]=loginData.password type = "password" name = "password" matInput required placeholder="type here">
                    </mat-form-field>

                    <div class = "container text-center">
                        <button type = "submit" mat-raised-button color="primary" style="margin-right: 20px;">Submit</button>
                        <button mat-raised-button color="accent">Reset</button>
                    </div>
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>
