<mat-card>
    <h1>All User Groups</h1>
    <mat-list>
        <mat-list-item *ngFor = "let ug of userGroup" >
            <mat-icon mat-list-icon>groups</mat-icon>
            <div mat-line>{{ug.groupName}}</div>
            <div mat-line>{{ug.groupDescription}}</div>
            <div>
                <mat-card-actions>
                    <button [routerLink] = "'/admin/find-usergroup/' + ug.groupId" mat-raised-button color="info">View</button>
                    <button [routerLink] = "'/admin/update-usergroup/' + ug.groupId" mat-raised-button color="primary">Update</button>
                    <button (click) = "deleteUserGroup(ug.groupId)" mat-raised-button color="warn" >Delete</button>
                </mat-card-actions>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
        
        <mat-divider></mat-divider>
    </mat-list>

    <div class="container text-center mt20">
        <button routerLink = '/admin/add-usergroup' mat-raised-button color="primary">Add User group</button>
    </div>
</mat-card>